<% include partials/header %>
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Landing Page</h1>
		<a href="/campgrounds"><h6 class="text-center"> To all camp grounds</h6></a>
	</div>
</div>

<% include partials/footer %>
