<% include ../partials/header %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welocme to Yelp camp</h1>
			<p> View our Picked Camps from all over the world </p> 
			<p><a class="btn btn-primary btn-large" href="/campgrounds/new">Add new Camp</a></p>
		</div>
	</header>
		<div class="row text-center">	
			<% campgrounds.forEach(function(campground){ %>
					<div class="col-lg-3 col-md-6 figure">
							<img class="img-thumbnail figure-img" src="<%= campground.image %>" > 
							<h4 class="figure-caption"><%= campground.name %></h4>
							<p class="figure-caption">
								<a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">
								More info
								</a>
							</p>	
					</div>
			<% }) %>
		</div>
</div>
<% include ../partials/footer %>